
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
            {# {% for melon in ??? %}
            <th>{{ common_name }}</th> <!-- method/attribute call? -->
            <th>{{ quantity }}</th> <!-- based on an increment -->
            <th>{{ price }}</th> <!-- method/attribute call? -->
            <th>{{ total }}</th> <!--  based on quantity and price -->
            {% endfor %} #}
        </tbody>
    </table>

{#     total price for all melons <h3>Total: $27.00</h3>
 #}
    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}

<!--This logic all goes in route/cart???
    check to see if session already contains a cart
    if not, add a new cart (empty dict) to session
    cart is a key-value pair: session["cart"] = {}

    once cart exists, add item to the dict; increment by 1
    generate flash msg('Melon successfully added!')
        session will fail to update without this
    print cart to terminal (temp print testing)
    ***redirect user to /cart
    cart dictionary: {melon_id: count} keyed to string "cart" in session

    Total needs to return a variable -->
